body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.search-box {
  justify-content: center;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}

.product {
  background-color: #f6f6f6;
  border-radius: 8px;
}

.single-product {
  padding: 10px;
  transition: 0.6s;
}

.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}

#single-product {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  background-color: #f6f6f6;
  padding: 15px;
  margin-bottom: 50px;
  display: none;
}

.product-image {
  width: 150px;
  height: 150px;
}

.cart {
  width: 350px;
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  top: 165px;
  right: 0;
}

.cart-main {
  padding-right: 30px;
}

/* media query css */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
